.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px 0;
  width: 1280px;
}

.search-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-input {
  background-color: #f5f6f7;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  height: 37px;
  outline: none;
  padding-left: 40px;
  width: 590px;
}

.header-logo {
  height: 40px;
}

.header-button {
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  outline: none;
  width: 115px;
}

.button-sold {
  background-color: #2cb1ba;
  color: #fff;
}

.button-signup {
  margin-right: 20px;
}

.button-login-signup {
  background-color: #fff;
  color: #2cb1ba;
}

.button-sold {
  background-color: #2cb1ba;
  color: #fff;
}

.header-container > div:first-child,
.header-logo {
  cursor: pointer;
}
