.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0;
  width: 1280px;
}

.search-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-input {
  background-color: #f5f6f7;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  height: 37px;
  outline: none;
  padding-left: 40px;
  width: 590px;
}

.search-input-icon {
  color: #bbb;
  left: 7px;
  position: absolute;
  top: 12px;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}

.header-logo {
  height: 40px;
}

.header-button {
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  outline: none;
  width: 115px;
}

.button-sold {
  background-color: #2cb1ba;
  color: #fff;
}

.button-signup {
  margin-right: 20px;
}

.button-login-signup {
  background-color: #fff;
  color: #2cb1ba;
}

.button-logout {
  background-color: #c2175b;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  height: 30px;
  outline: none;
}

.button-sold {
  background-color: #2cb1ba;
  color: #fff;
}

.header-container > div:first-child,
.header-logo {
  cursor: pointer;
}

.searchbar-bot {
  margin-top: 25px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 25px;
}

.checkbox input[name="price"] {
  display: none;
}

.checkbox .wrapper {
  align-items: center;
  background-color: #2cb1ba;
  border-radius: 10px;
  cursor: pointer;
  display: inline-flex;
  height: 20px;
  outline: none;
  width: 42px;
}

.checkbox .knob {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #666;
  border-radius: 100%;
  font-weight: 700;
  height: 16px;
  left: 0;
  position: relative;
  transition: left 0.1s ease-in-out 0s;
  width: 16px;
}
